@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

body {
 
  font-family: 'Inter', sans-serif;
}

.navbar-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  background-repeat:repeat;
  background-color:#ffffff;
  
}

.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar {
  width: auto;
}

.carousel {
  height: 400px;
  margin-bottom: 0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;

}

.carousel-caption img {
margin:0 auto;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;

}

.carousel-inner {
width:100%;
height:400px;

}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


.section_portfolio
{
  padding: 50px 0;
  margin-top: 0px;
  background:#fff;
}
body
{

}
h1,h2,h3,h4,h5
{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}
p
{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
} 
.section_portfolio .nav-tabs > li {
  width: auto;
  text-align: center;
  float: none;
  margin-bottom: -1px;
  display: inline-block;
}   
.section_portfolio .nav-tabs > li > a
{
  width: auto;
  display: inherit;
  background: transparent;
  color:#000;
  padding: 0 10px;  
  font-size: 18px;
}
.section_portfolio .nav-tabs > li > a:hover
{
  color:#56bcfd;
}

.section_portfolio .nav-tabs {
    border-bottom: 0px solid #ddd;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.section_portfolio .nav-tabs > li.active > a, .section_portfolio .nav-tabs > li.active > a:hover, .section_portfolio .nav-tabs > li.active > a:focus
{
  border: 0px solid #ddd;
  color:#56bcfd;
}
.mt-50
{
  margin-top:50px;
}
.project_name
{
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
  border:2px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;
  overflow: hidden;
}
.project_name img 
{
  max-width: 90%;
  max-height: 150px;
  width: auto;
  transition: transform .5s;

}
.project_name img:hover
{
  transform: scale(1.1);
}
.project_fl
{

}
.screens .col-md-3
{ 
  margin-bottom: 20px;
  height: 450px;
  overflow: hidden;

}
.screens .col-md-3 img {
  height: auto;
  width: auto;
  max-width: 100%;
  border: 1px solid #ccc;
  min-height: 450px;
}
.mobile .modal-title
{
    text-align: center;
    font-size: 30px;
    color:#56BCFD;
}
.mobile .modal-header {
  padding: 15px 15px 0;
  border-bottom: 0px solid #e5e5e5;
}
.mobile .modal-header .close {
  background: #000;
  opacity: 1;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
}
.mobile .modal-header .close:hover
{
  background: #56BCFD;
  color:#000;
}





/* RESPONSIVE CSS
-------------------------------------------------- */



@media only screen and (min-width: 769px) and (max-width: 900px) {
.second-image {
  top: 26px;
  max-width: 278px;
}
.carousel-inner .item h1
{
  margin-top: 32px;
}
.section_portfolio .nav-tabs > li > a {
  padding: 0 7px;
  font-size: 16px;
}
}

@media (max-width: 768px) {
  .carousel .item, .carousel-inner, .carousel{
    height: auto;  
  }
  body{
    overflow-x: hidden;
  }
  .project_name
{
  width: 100%;
  height: 100px;
  margin-bottom: 0px;
}
.project_name img 
{
  max-width: 90%;
  max-height: 90px;

}
}
@media (min-width: 768px) {
  /* .carousel .item, .carousel-inner{
    height: 500px;  
  } */
  /* Navbar positioning foo */
  .navbar-wrapper {
    /*margin-top: 20px;*/
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
   	margin-top:96px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

