.navbar-brand img {
	width: 165px;
}
* {
	font-family: 'Raleway', sans-serif;
}
a:hover {
	text-decoration: none;
}
p {
	color: #989898;
}
.navbar-brand {
	float: left;
	font-size: 18px;
	height: 72px;
	padding: 4px 0 !important;
}
.navbar-default {
	border-bottom: 4px solid #3a51a2;
	min-height: 75px;
	background: #fff;
	/*	border: none;*/
	border-radius: 0;
	margin-bottom: 0;
}
.navbar-right {
	margin-top: 11px;
}
.slider {
	width: 50%;
	margin: 100px auto;
}

.slick-slide {
	/*	margin: 0px 20px;*/
	height: 600px;
}

.slick-slide img {
	width: 100%;
}

.slick-prev:before, .slick-next:before {
	color: black;
}
.slick-slider {
	margin-top: 0;
	width: 100%;
}
.slick-next {
	right: 25px !important;
}
.slick-prev {
	left: 25px !important;
}
.yel {
	background: #F6CB5F;
}
.red {
	background: #FF6F6F;
}
.green {
	background: #A8D164;
}
.container {
	width: 85%;
}
.slick-slide .container .row .col-md-6 {
	padding: 15% 0;
}
.navbar-default .navbar-nav > li > a i {
	margin-right: 5px;
}
.navbar-default .navbar-nav > li > a {
	border-left: 1px solid #e8e8e8;
	color: #343434;
	font-size: 13px;
	font-weight: lighter;
	height: 22px;
	margin: 15px 0;
	padding: 0 17px;
	text-align: center;
	width: 120px;
	transition: all 0.2s ease 0s;
}

.navbar-default .navbar-nav > li > a:hover {
	transition: all 0.2s ease 0s;
	color: #000;
	font-weight: bold;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;
	color: #000 !important;
	font-weight: bold;
	/*	font-weight: bold;*/
}
.navbar-default .navbar-nav > li:first-child > a {
	border: none;
}
.slider-text {
	color: #fff;
}
.slider-text h1 b {
	color: #343434;
}
.slider-text h1 span {
	text-transform: capitalize;
}
.slider-text h1 {
	font-size: 58px;
}
.slider-text .btn {
	background: transparent;
	border: 4px solid #fff;
	border-radius: 0;
	color: #343434;
	font-weight: bold;
	padding: 6px 22px;
}

.slider-text p {
	margin-bottom: 22px;
	color: #fff;
}
.slick-slide .container .row .col-md-6 img {
	width: 90%;
	margin: 0 auto;
}
.slick-slide .container .row .col-md-6:last-child {
	padding: 10% 0;
	text-align: center;
}
.angle {
	background: transparent none repeat scroll 0 0;
	top: 109%;
	display: block;
	height: 55px;
	left: 0;
	position: absolute;
	transform: translate(0px, -50%);
	width: 100%;
}
.section1 {
	float: left;
	width: 100%;
	background: #343434;
	padding: 50px;
}
.slick-dotted.slick-slider {
	margin-bottom: 0;
}
.top-nav-collapse {
	/*	box-shadow: 0 6px 10px #666666;*/
	/*	box-shadow: 0 2px 4px #666666;*/
	min-height: 55px;
}
.top-nav-collapse .navbar-brand img {
	/*	margin-top: 6px;*/
}
#hero {
	margin-top: 80px;
}
.about-head {
	margin: 0 auto 20px;
	width: 35%;
	text-align: center;
}
.about-head h1 {
	color: #fff;
}
.slick-prev, .slick-next {
	background: #fff none repeat scroll 0 0;
	border: medium none;
	border-radius: 3px;
	color: transparent;
	cursor: pointer;
	display: block;
	font-size: 0;
	height: 34px;
	line-height: 0;
	opacity: 0.8;
	outline: medium none;
	padding: 0;
	position: absolute;
	top: 50%;
	transform: translate(0px, -50%);
	width: 40px;
}
.slick-prev:hover, .slick-next:hover {
	opacity: 1;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
	background: #fff;
}
.about-head p::after {
	background-color: rgba(100, 100, 100, 0.4);
	bottom: -32px;
	content: "";
	display: block;
	height: 1px;
	left: 50%;
	margin-left: -85px;
	position: absolute;
	width: 170px;
}
.about-head p {
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 60px;
	position: relative;
}
.section1 .row .col-md-4 div img {
	width: 140px;
}
.section1 .row {
	margin-top: 20px;
	margin-left: -45px;
	margin-right: -45px;
}
.section1 .row .col-md-4 div {
	background: rgba(100, 100, 100, 0.2);
	padding: 15px;
	transition: all 0.2s ease 0s;
	float: left;
	height: 315px;
	width: 100%;
	text-align: center;
	border-bottom: 10px solid #fbcf61;
}
.section1 .row .col-md-4 div h4 {
	color: #fff;
}
.section1 .row .col-md-4:nth-child(2) > div {
	border-color: #FF6F6F;
}
.section1 .row .col-md-4:nth-child(3) > div {
	border-color: #A8D164;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: transparent;
	color: #000;
	font-weight: bold;
}
.services-drop {
	background: #343434 none repeat scroll 0 0;
	left: -285px !important;
	right: auto !important;
	top: 139%;
	width: 753px;
	padding: 12px 0;
}
.services-drop .col-md-2 {
	min-height: 55px;
	padding-right: 0;
	width: 25%;
}
.services-drop .col-md-2 strong {
	color: #56bcfd;
	float: left;
	font-size: 13px;
	margin-bottom: 10px;
	text-transform: capitalize;
	width: 100%;
}
.services-drop .col-md-2 li a {
	color: #fff;
	font-size: 11px;
	line-height: 2.4;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	border-color: #e8e8e8;
}
.slick-dots {
	bottom: 66px;
}
.slick-dots li button::before {
	font-size: 42px;
}
.top-nav-collapse .services-drop {
	top: 120%;
}
.sdfm-overlay {
	display: none !important;
}
.sdfm-inner-wrapper {
	background: #fff none repeat scroll 0 0;
	border: medium none !important;
	margin-bottom: 22px !important;
	width: 23% !important;
	height: 235px !important;
	border: 1px solid #ccc;
}
.sdfm-inner-wrapper img {
	height: auto !important;
	max-height: 235px;
	object-fit: cover;
	width: 100%;
}
.section2 {
	background: #eee;
	padding: 35px 0;
}
.section2 .about-head h1 {
	color: #343434;
}
.portfolio-content .col-xs-12 {
	margin: 0 0 10px;
	text-align: center;
}
.portfolio-content .col-xs-12 a {
	color: #000;
	margin: 0 6px;
}
.angle2 {
	position: relative;
	margin-top: -9px;
}
.sdfm-inner-wrapper figcaption {
	background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
	color: #fff;
	height: 235px;
	padding: 30% 15px;
	position: absolute;
	text-align: center;
	width: 100%;
	transition: all 0.2s linear 0s;
	display: none;
}
.sdfm-inner-wrapper figcaption .fa {
	font-size: 28px;
}
.sdfm-inner-wrapper figcaption h4 {
	font-size: 17px;
}
.sdfm-inner-wrapper:hover > figcaption {
	display: block;
	transition: all 0.2s linear 0s;
}
.navigation li {
	display: inline-block;
}
.navigation li a {
}
.selected a {
	color: #000;
	font-weight: bold;
}
#portfolio {
	text-align: center;
}
#portfolio .btn {
	background: #eee;
	border: 4px solid #343434;
	color: #343434;
	font-weight: bold;
	padding: 6px 22px;
	border-radius: 0;
	margin-top: 15px;
}

.contact {
	float: left;
	width: 100%;
	background: #343434;
}
.contact h1 {
	/*	border-bottom: 1px solid #454545;*/
	color: #fff;
	float: left;
	margin-bottom: 20px;
	padding-bottom: 15px;
	width: 100%;
}
address {
	color: #fff;
	float: left;
	width: 100%;
	margin: 10px 0;
}
address span {
	float: left;
	width: 100%;
	font-size: 13px;
	margin-bottom: 7px;
}
address span .fa {
	margin-right: 6px;
}
address span a {
	color: #F6CB5F;
}
.contact h4 {
	color: #fff;
}
.contact-form form {
	float: left;
	width: 100%;
}
.contact-form form ul {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
}
.contact-form form ul li {
	float: left;
	width: 100%;
	margin-bottom: 15px;
	list-style-type: none;
}
.contact-form form ul li .form-control {
	background: transparent;
	border: 1px solid #424242;
	border-radius: 0;
	box-shadow: none;
	height: 45px;
}
.contact-form form ul li textarea {
	background: transparent;
	border: 1px solid #424242;
	border-radius: 0;
	box-shadow: none;
	height: 110px;
	color: #fff;
	float: left;
	width: 100%;
	padding: 7px;
}
.contact-form .btn {
	border: 4px solid #fff;
	color: #fff;
	font-weight: bold;
	border-radius: 0;
	padding: 6px 22px;
}

.contact .row .col-md-6 {
	padding: 25px 25px;
	height: 500px;
}
.contact .row .col-md-6:first-child {
	background: #1E1E1E;
	padding-left: 110px;
}
.contact .row .col-md-6:last-child {
	padding-right: 110px;
}
.contact .row {
	margin: 0;
}
footer {
	float: left;
	width: 100%;
	background: #000;
	padding: 15px 0;
	color: #fff;
	font-size: 13px;
}
footer p {
	margin-bottom: 0;
}
.social {
	text-align: right;
}
.social a {
	color: #fff;
	margin-left: 9px;
	font-size: 16px;
}
.btn .fa {
	margin-left: 5px;
}
.testi {
	float: left;
	width: 100%;
	background-repeat: no-repeat !important;
	background-position: center !important;
	height: 400px;
	background-size: cover !important;
	background-attachment: fixed !important;
}
.testi {
	color: #fff;
	text-align: center;
	padding: 3% 0;
}
.testi ul li img {
	width: 80px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 7px;
}
.testi ul li .col-md-4 {
	text-align: right;
}
.testi ul li .col-md-8 {
	text-align: left;
}
.testi-cont {
	display: inline-block;
	width: 50%;
	color: #fff;
	margin-top: 40px;
}
.testi-cont p {
	color: #fff;
	margin-top: 15px;
}
.bx-wrapper {
	background: transparent !important;
	border: none;
	box-shadow: none;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: center;
	width: 115%;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	background: #eee;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
	background: #68b7e5 none repeat scroll 0 0;
}
