
.project_name img {
	width: auto;
}
.project_name p {
	line-height: 1;
}
.team{
	width: 100%;
	background-color: #fff;
    background-repeat: no-repeat;
    overflow: hidden;
    padding:00px 0;
}

.team .row .col-md-4 a{
	float: left;
	width: 100%;
	text-align: center;
    text-decoration: none;
    color: #444;
}
.team .row .col-md-4 a img{
	width: 100%;
	margin-bottom: 7px;
	height: 220px;
    object-fit: contain;
    /* border: 1px solid #ddd;
    padding: 10px; */
}
.services .process{
	float: left;
	width: 100%;
	background-color: #fff;
    padding: 10px 0 25px 0;
    margin-top: 25px;
}
.process{
    float: left;
    width: 100%;
    background-color: #fff;
    padding: 50px 0;
}
.services-pic
{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.services-pic img 
{
    max-width: 100%;
    height: auto;
    min-height: 250px;
}
.margin-top-40
{
    margin-top: 40px;
}
.leaders.services .row .col-md-2 img{
    height: 280px;
    margin-top: 25px;
}
.services
{
    width: 100%;
    height: auto;
    padding: 50px 0 60px;
    background: #fff;
}
.services .row .col-md-10{
    padding: 2% 1%;
    /* font-size: 160%; */
}
.services .row .col-md-7 .btn, #toggle{
    background-color: rgb(189, 58, 0);
    color: #fff;
    border-radius: 0;
}

.workflow{
    float: left;
	width: 100%;
    padding:50px 0; 
    background: #fafafa;
}
.workflow h1
{
    margin-top: 0px;
}

.services h1
{
    margin-top: 0px;
}
.process article h3{
    font-size: 20px;
    color: #000;
}
.process article h3 span {
    background-color: #FFCC00;
    color: #444;
    border-radius: 10px;
    font-size: 11px;
    padding: 0px 7px;
    width: 30px;
    display: inline-block;
    text-align: left;
    margin-right: 7px;
    position: relative;
    top: -5px;
    line-height: 1.7;
    height: 20px;
}
.process article{
    text-align: center;
    float: left;
    width: 100%;
    background-color: #efefef;
    padding: 15px;
    margin-bottom: 25px;
    min-height: 320px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}
.process article img{
    width:130px;
    margin: 10px 0px 14px 0;
    transition: transform 0.8s;
  transform-style: preserve-3d;
}
.process article img:hover
{
    transform: rotateY(180deg);
}
.flow-pic
{
    width: 100%;
    height: auto;
    text-align: center;
}
.flow-pic img 
{
    max-width:90%;
    height: auto;
}
.btn-1
{
    width: 100%;
    height: auto;
    margin: 20px 0 0 0;
}
.btn-1 a 
{
    text-align: center;
    background: linear-gradient(195deg, #086ad8 0%, #42b9ff 100%);
    color: #fff;
    font-size: 14px;
    padding: 12px 20px;
    text-decoration: none;
}
.btn-1 a:hover
{
    background: linear-gradient(195deg, #42b9ff 0%, #086ad8 100%);
}




a:hover{
    text-decoration: none;
}
.footer_substyle, .footer_style{
    float: left;
    width: 100%;
}
.testimonials .col-md-3  img{
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.testimonials .col-md-3 {
    padding: 0;
}
.testimonials article{
    float: left;
    width: 100;
    /* background-color:#efefef; */
    background-color: #fff;
    padding: 15px;
    margin-bottom: 25px;
    max-height: 335px;
}
.choose .col-md-4 article{
    float: left;
    width: 100%;
    background-color: #efefef;
    padding: 15px;
    margin-bottom: 15px;
    min-height: 210px;
    text-align: justify;

}
.choose .col-md-4 article h4{
    line-height: 27px; 
    position: relative;
    margin-bottom: 20px;
    font-size: 20px;
}
.choose .col-md-4 article h4::after {
    content: "";
    position: absolute;
    background-color: #C44E1A;
    height: 3px;
    width: 60px;
    left: 0;
    bottom: -6px;
}
#text{
    display:none;
}
.address .fa-map-marker{
    top: 5px;
}


.item span{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    position: absolute;
    bottom: 105px;
    width: auto;
    background: #111;
    color: #fff;
    z-index: 9;
    left: 15%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
}
.item:hover > span {
    visibility: visible;
    opacity: 1;
  }

.item h1{
    margin-top: 0;
}
.carousel-inner .item{
    padding: 5% 10%;
    background-size: cover;
    color: #fff; 
    background-repeat: no-repeat;
}
.carousel-inner .item:after{
     content: "";
     position: absolute;
     width: 100%;
     height: 100%;
     background-color: #000;
     left: 0;
     opacity: 0.4;
     top: 0;
}
.carousel-inner .item img {
    position: relative;
    float: right;
    display: block;
    object-fit: cover;
    z-index: 99;
    max-width: 300px;
}
.carousel-inner .item h1 {
    margin-top: 80px;
    float: left;
    position: relative;
    z-index: 99;
    width: 60%;
}

.item span::after {

    position: absolute;
    display: inline-block;
    border-top: 18px solid transparent;
    border-left: 18px solid transparent;
    border-bottom: 18px solid #D34738;
    left: 123px;
    top: -30px;
    content: '';
    border-right: 18px solid transparent;

}
.carousel-inner a:last-child span{
    left: 130px;
    bottom: 70px;
}
.carousel-inner a:last-child span::after {

    position: absolute;
    display: inline-block;
    border-top: 18px solid transparent;
    border-left: 18px solid transparent;
    border-bottom: 18px solid #D34738;
    left: 37%;
    top: -35px;
    content: '';
    border-right: 18px solid transparent;

}
.second-image{
    position: absolute !important;
    right: 64px;
    top: 0;
    width: auto !important;
    height: auto !important;
    min-width: inherit !important;
    min-height: inherit !important;
}
.resp{
    display: none;
}

.fa-chevron-left{
    left: 20px;
    font-size: 25px;
    position: absolute;
}
.fa-chevron-right  {
    right: 20px;
    font-size: 25px;
    position: absolute;
}
.nav > li > a {
  padding: 0px 18px;
  font-size: 15px;
}
.services h4
{
    font-size: 24px;
    margin: 0 0 10px;
}

.workflow h4 
{
    font-size: 20px;
}
.view-btn
{
  width: 100%;
  height: auto;
  text-align: center;
  margin: 15px 0 30px 0;
}
.view-btn a
{
    text-align: center;
    background: linear-gradient(195deg, #086ad8 0%, #42b9ff 100%);
    color: #fff;
    font-size: 16px;
    padding: 10px 35px;
}
.view-btn a:hover 
{
    background: linear-gradient(195deg, #42b9ff 0%, #086ad8 100%);
}
.inner-heading h1 
{
    margin: 0 0 10px 0;
}

.tem-full
{
    width: 100%;
    height: auto;
    min-height: 270px;
    background: #fafafa;
    padding:20px 12px;
    border: 1px solid #fafafa;
    text-align: center;
    margin: 0 0 30px 0;
    box-shadow: 0 0px 13px rgba(0,0,0,0.2);
}
.tem-pic
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border:3px solid #dfdfdf;
    margin: 0px auto 15px;
    overflow: hidden;
}
.tem-pic img
{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.leaders
{
    width: 100%;
    height: auto;
    padding:0 0 50px;
}
.about-1
{
    width: 100%;
    height: auto;
    background: #fff;
    padding: 50px 0;
}
.btn:hover
{
    background: #000 !important;
}
.colb-pic
{
    width: 100%;
    height: 130px;
    text-align: center;
    padding:10px 0 0 0;
    margin: 0 0 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
}
.colb-pic img
{
    max-width: 90%;
    max-height: 120px;

}
.colb-fl
{
    width: 100%;
    height: auto;
    text-align: center;
    background: #fafafa;
    box-shadow: 0 0px 13px rgba(0,0,0,0.1);
}
.colb-dec
{
  padding:10px 15px;
  color:#000;
  text-align: justify;
  font-size: 16px;
  min-height: 170px;
  background: #fff;
}
.about-1 h4 
{
  color:#314CB1;
  font-size: 24px;
}
.about-1 ul li
{
    font-size: 16px;
}
.lead-pic
{
    width: 100%;
    height:345px;
    background: #fff;
}
.lead-pic img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ld-de
{
    background: rgba(255,255,255,0.5);
    min-height:345px;
    border-bottom:3px solid #56BCFD;
    border-top:0px solid #56BCFD;
}
.ld-de p
{
    font-size: 15px;
    text-align: justify;
}
.no-right-padding
{
    padding-right: 0px;
}
.lead-dec h4
{
  font-size: 20px;
  color: #000;
}
.flow-pic-1
{
    width: 100%;
    height: auto;
    text-align: center;
}
.flow-pic-1 img
{
    width:auto;
    max-width: 80%;
}
.flow-1-dec h4
{
  font-size: 28px;
  color:#C44E1A;
}
.flow-1-dec p
{
  line-height: 26px;
  font-size: 16px;
  text-align: justify;
}
.iso-pic
{
    width: 70px;
    height:auto;
    float: left;
    margin: 0 20px 10px 0;
}
.iso-pic img 
{
    max-width: 70px;
}
#myCarousel .fa-chevron-right, #myCarousel2 .fa-chevron-right {
  top: 158px;
}
#myCarousel .fa-chevron-left, #myCarousel2 .fa-chevron-left {
  top: 158px;
}
.dec-none
{
    display: none;
}
.mb-none
{
  display: block;
}
.sl-pic-2
{
  width: 40%;
    height: auto;
    float: right;   
}
.sl-pic
{
    width: 40%;
    height: auto;
    float: right;
}
.sl-pic img 
{
    max-width: 100% !important;
}
.sl-1-pic
{
    width: 100%;
    height: auto;
    margin: 0 0 15px 0;
    float: right;
}
.sl-1-pic img 
{
    max-width: 60% !important;
}
.sl-2-pic
{
    width: 100%;
    height: auto;
    float: right;
}
.sl-2-pic img 
{
    max-width: 60% !important;
}
.chs
{
    width: 100%;
    height: auto;
    position: relative;
    background: linear-gradient(195deg, #086ad8 0%, #42b9ff 100%);
    padding: 20px 0 0 0;
    border-radius:10px;
}
.chs-icon
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    background:rgba(255, 255, 255, 0.9);
}
.chs-icon img 
{
    max-width: 70px;
    max-height: 70px;
}
.chs-dec
{
    width: 100%;
    height: auto;
    position: relative;
    padding: 20px;
    min-height: 200px;
}
.chs-dec h4 
{
    color:#fff;
}
.chs-dec p
{
    color:#fff;
    text-align: justify;
    margin: 0;
}




@media only screen and (min-width: 768px) and (max-width: 900px) {
.second-image {
  right: 0px;
  top: 76px;
} 
.carousel .item, .carousel-inner, .carousel {
    height: 490px !important;
  }
.sld
{
    width: 40%;
    height: auto;
    float: right;
}
.carousel-inner .item img {
  margin-right: 0;
}
}


@media (max-width: 768px) {
    .carousel{
        display: none;
    }
    .resp{
        display: block;
    }
    .testimonials article, .choose .col-md-4 article{
        max-height: inherit !important;
        height: auto;
    }
    .carousel-inner .item{
        background-size: cover;
        padding: 50px 10% 50px;
    }
}


@media only screen and (max-width: 767px)
{
.no-right-padding {
  padding-right: 15px;
}
.lead-pic
{
    height: 200px;
    margin: 0 0 20px 0;
}
.ld-de
{
    margin: 0 0 20px 0;
    min-height: auto;
}
.lead-dec
{
    padding: 20px 0;
}
.carousel-inner .item h1 {
  width: 100%;
  text-align: center;
  margin-top: 0;
  font-size: 30px;
}

.btn-1 {
  margin: 20px 0 20px 0;
}
.services-pic img {
  min-height: auto;
}
.services-pic {
  margin: 0 0 20px;
}
.services p 
{
    text-align: left;
}
.flow-1-dec p {
  line-height: 25px;
  font-size: 16px;
  margin: 0 0 20px;
  text-align: justify;
}
.client-sec-heading h3 {
  font-size: 26px;
}
.s-hed p
{
    text-align: center !important;
}
.project_name {
  margin-bottom: 0px;
}
.dec-none
{
    display: block;
}
.mb-none
{
  display: none;
}
.sld
{
    width: 100%;
    height: auto;
    margin: 0 0 30px 0;
    overflow: hidden;
    text-align: center;
}

.btc
{
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
}
.btc a{
    background-color: #D34738;
    position: relative;
    z-index: 99;
    color: #fff;
    border-radius: 0;
     margin: 20px auto 0;
     padding: 10px 30px;
     text-decoration: none;
}
.btc a:hover 
{
    background: #000;
}
.carousel-inner .item img {
  position: relative;
  float:none;
  display: block;
  color: #fff;
  border-radius: 0px;
  min-width: 240px;
  height: auto;
  object-fit: cover;
  z-index: 99;
  margin: 0px auto 20px !important;
  right: 0;
  max-width: 240px;
}
.second-image {
  position: relative !important;
  right: 0px;
}
.choose .col-md-4 article {
  min-height: auto;
}
.choose h1
{
  font-size: 32px;
}
.inner-heading h1 {
  font-size: 32px;
}
.colb-fl {
  min-height: auto;
  margin: 0 0 10px 0;
}
.team
{
    padding: 30px 0 20px;
}
.nav > li > a {
  padding: 0px 0;
}
.services {
  padding: 20px 0 30px;
}
.s-hed h1 
{
    font-size: 26px;
}
.services h4 {
  font-size: 22px;
}
.process {
  padding: 20px 0;
}
.leaders {
  padding: 0 0 0;
}

}